body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display:inline;
    justify-content: space-between;
    align-items: center;
    
}

nav li {
    display: inline;
    margin-right: 50px;
    
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0em;
    border-top: 2px solid #ff0000;
    bottom: 0;
    width: 100%;
    position: fixed;
}

h1 {
    color: #1508c7;
    font-family: 'Pacifico' cursive;
    color: #3498db;
    font-weight: bold;
}

.emphasis {
    background-color: #094890;
    padding: 10px;
    text-align: center;
    color: #fff;
}

#header {
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #ff0000;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

a[href] {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #1b0d7f
}

section {
    margin: 90px;
}

#about {
    background-color: #ecf0f1;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#contact {
    background-color: #b0bec2;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: #b0bec2;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
    }
}

img {
    max-width: 50%;
    height: auto;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 40px;

}

img:hover {
    transform: scale(1.2);
}

nav a {
    color: #fff;
    transition: color 0.5s ease-in-out;
}

nav a: hover {
    color: #f39c12;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#home h2 {
    animation: fadeIn 1s ease-in;
}

h2 {
    font-style: italic;
}